<% if @task.id? %>
  <tr id='task_<%=@task.id%>'>
    <td><%=@task.description%></td>
    <td><%=link_to('show', task_path(@task.id), remote: true) %></td>
    <td><%= link_to('edit', edit_task_path(@task.id), remote: true)%></td>
    <td><%= link_to('destroy', task_path(@task.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true)%>
  </tr>
<%else%>
  <h3>task not got created due to:</h3>
  <%task_errors = @task.errors.full_messages.map{|task_name| task_name}%>
  <%task_errors.each do |task_error|%>
    $("#notice").append("<%= task_error %>")
  <%end%>
<% end %>
